<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h2>Welcome</h2>
        <p><a href="/adminlogout">Logout</a></p>
        <div class="container">
            <table class="table table-bordered table-border text-center shadow">
                <tr>
                    <th>password</th>
                </tr>
                <%
                if(adminData.length!=0){
                var i=1;
                adminData.forEach(function(data){
                %>
                <tr>
                    <td><%=i; %></td>
                    <td><%=data.password %></td>
                </tr>
                <%  i++; }) %>
                <% } else{ %>
                    <tr>
                        <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
            </table>
        </div>
    </body>
</html>