<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        </style>

    <title>Document</title>
</head>
<body>
    <div class="container">
        <table class="table table-bordered table-border text-center shadow">
            <thead>
                <tr>
                    <th>password</th>
                </tr>
                    
            </thead>
            <tbody>
                <% results.forEach(rslt => {%>
                <tr>
                    <td style="text-align:center"><%= rslt.password%></td>
                    <td><a href="/delete/<%=rslt.password%>">Delete</a></td>
                    <td><a href="/edit/<%=rslt.password%>">Edit</a></td>
                </tr>
                <% }) %>
            </tbody>
            
        </table>
    </div>
</body>
</html>