<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h2>Welcome</h2>
        <a href= "/admin_view"> Admin Details </a>
        <a href= "/admin_userview"> User Details </a>
        <a href= "/admin_driverview"> Driver Details </a>
        <p><a href="/adminlogout">Logout</a></p>
    </body>
</html>