<!DOCTYPE html>
<html>
<head>  
</head>
<body>
<div class="login-form">
  <h3>Login Form</h3>
<form method="post" action="/adminlogin">
      <input type="password" placeholder="Password" name="password" required>
       <button type="submit">Login Now</button>
  </div>
</form>
</div>
</body>
</html>