<!DOCTYPE html>
<html>
<head>  
    <link href="/css/login_register.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
  <form method="post" action="adminlogin">
    <div class="form-structor">
      <div class="signup">
        <div class="login-form">
          <h3>Login Form</h3>
          <div class="text">
            <div style="position: relative; font-size: small; top: 30px; color: white;">
                <h3>Please Enter Your Password</h3>
            </div>
        </div>
        <div class="form-holder">
          <div><input type="password" class="input" placeholder="Password" name="password" required></div>
      </div>
      <button type="submit" class="submit-btn">Log in</button>
          </div>
      </div>
    </div>
  </form>
  
</body>
</html>