<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h2>Welcome</h2>
        <p><a href="/adminlogout">Logout</a></p>
        <div class="container">
            <table class="table table-bordered table-border text-center shadow">
                <thead>
                    <tr>
                        <th>password</th>
                    </tr>
                        
                </thead>
                <tbody>
                    <% results.forEach(rslt => {%>
                    <tr>
                        <td><%= rslt.password%></td>
                    </tr>
                    <% }) %>
                </tbody>
                
            </table>
        </div>

        <div class="container">
            <table class="table table-bordered table-border text-center shadow">
                <thead>
                    <tr>
                        <th>user details</th>
                    </tr>
                        
                </thead>
                <tbody>
                    <% results.forEach(rslt => {%>
                    <tr>
                        <td><%= rslt.name%></td>
                        <td><%= rslt.contact%></td>
                    </tr>
                    <% }) %>
                </tbody>
                
            </table>
        </div>

    </body>
</html>