<!DOCTYPE html>
<head>
    <title>Contact us</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <!-- Contact Section -->
<div class="my-container my-padding-32" id="Contact">
    <h3 class="my-border-bottom my-border-light-grey my-padding-16 my-text-blue-grey">Lets get in touch and talk</h3>
    <form method="post" action="/contactus">
     <input class="my-input my-section my-border" type="text" placeholder="Name" required name="Name">
      <input class="my-input my-section my-border" type="text" placeholder="Email" required name="Email">
      <input class="my-input my-section my-border" type="text" placeholder="Subject" required name="Subject">
      <input class="my-input my-section my-border" type="text" placeholder="Comment" required name="Comment">
      <button class="my-button my-black my-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
</body>
</html>
