<!DOCTYPE html>
<html>
<head>  
</head>
<body>
<div class="login-form">
  <h3>Login Form</h3>
<form method="post" action="/driverlogin">
    <div> <input type="text" placeholder = "CNIC" name="cnic" pattern="[0-9]{13}"" required > </div> 
    <div> <input type="text" placeholder = "Name" name="name" required" > </div> 
       <button type="submit">Login Now</button>
       <a href="/driverregister">New Member?</a>
  </div>
</form>
</div>
</body>
</html>