<!DOCTYPE html>
<html>
<head>  
</head>
<body>
<div class="login-form">
  <h3>Login Form</h3>
<form method="post" action="/login">
      <input type="user_name" placeholder="Username" name="user_name" required>
      <input type="password" placeholder="Password" name="password" required>
       <button type="submit">Login Now</button>
       <a href="/register">New Member?</a>
  </div>
</form>
</div>
</body>
</html>