<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h2>Welcome to Dashboard</h2>
        <p><a href="/book_ride">Book Ride</a></p>
        <p><a href="/userlogout">Logout</a></p>
    </body>
</html>